<!-- Portfolio Subpage -->
<section data-id="portfolio" class="animated-section">
    <div class="page-title">
        <h2>Portfolio</h2>
    </div>

    <div class="section-content">
        <div class="row">
            <div class="col-xs-12 col-sm-12">
                <!-- Portfolio Content -->
                <div class="portfolio-content">
                    <!-- Portfolio Grid -->
                    {% for portfolio in portfolios %}
                    <div class="portfolio-grid three-columns">
                        <figure class="item lbaudio">
                            <div class="portfolio-item-img">
                                <img src="{{portfolio.image.url}}" alt="{{portfolio.name}}" title="{{portfolio.name}}" />
                                <a href="" class="lightbox" title="{{portfolio.name}}"></a>
                            </div>
                            <h4 class="name">{{portfolio.name}}</h4>
                            <span class="category">{{portfolio.tag}}</span>
                        </figure>
                    </div>
                    {% endfor %}
                    <!-- End Portfolio Grid -->
                </div>
                <!-- End of Portfolio Content -->
            </div>
        </div>
    </div>
</section>
<!-- End of Portfolio Subpage -->